<!DOCTYPE html>
<html>
  <head>
    <title>Very Fun Data Science</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lobster" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary scroll">
      <a class="navbar-brand header" href="/">Very Fun Data Science</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="#">Stuff</a>
        </div>
      </div>
    </nav>

    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <footer class="blog-footer bg-primary">
            <div class="container-fluid">
                © 2018 Copyright: The Very Fun Team </a>
            </div>
    </footer>

  </body>
</html>
